
.svg-sence svg {
  cursor: pointer;
  border: 1px solid #eee;
}

.selected {
  border: 1px solid #ddd;
}

.draw-connect-path {
  color: #333;
  stroke: #339999;
  stroke-width: 1.5px;
}

.bg-line-standard {
  fill: none;
  stroke: #8a928b;
  stroke-width: 1;
  stroke-dasharray: 4px;
  opacity: 0.5;
}

path {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/*.svg-backgound-box {
  fill: honeydew;
  stroke-width: 0;
}*/
